/*
*/
	@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
	
	@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
	
	@import url(http://fonts.googleapis.com/css?family=Orbitron);
	
	body {
		font-family: 'Hammersmith One', sans-serif;
	}
	
	.glow {
		-webkit-stroke-width: 5.3px;
	   -webkit-stroke-color: #FFFFFF;
	   -webkit-fill-color: #FFFFFF;
	   text-shadow: 1px 0px 7px #AFF;
	   -webkit-transition: width 0.3s; /*Safari & Chrome*/
	   transition: width 0.3s;
	   -moz-transition: width 0.3s; /* Firefox 4 */
	   -o-transition: width 0.3s; /* Opera */
   }